&lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #45ba8e;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;DAL Mint&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#45ba8e&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #7ac1ac;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;DAL Ameraucana&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#7ac1ac&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #000000;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;DAL Licorice&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#000000&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #333333;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;DAL Charcoal&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#333333&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #44444444;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;DAL Carbon&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#444444&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #989898;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;DAL Smoke&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#989898&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #e6e6e6;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;DAL Sel Gris&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#e6e6e6&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #ffffff;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;DAL Marshmallow&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#ffffff&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #65b5e5;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;DAL Robin&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#65b5e5&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #ea5050;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;DAL Rhubarb&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#ea5050&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #834eea;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;DAL Lavender&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#834eea&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #59b742;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;DAL Cilantro&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#59b742&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #ed569a;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;DAL Allium&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#ed569a&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #326bce;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;DAL Borage&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#326bce&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #f27b2c;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;DAL Tang&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#f27b2c&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #ffce00;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;DAL Marigold&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#ffce00&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;