<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #45ba8e;"></span>
		<span class="sg-label">#45ba8e</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #7ac1ac;"></span>
		<span class="sg-label">#7ac1ac</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #333333;"></span>
		<span class="sg-label">#333333</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #444444;"></span>
		<span class="sg-label">#444444</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #989898;"></span>
		<span class="sg-label">#989898</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e6e6e6;"></span>
		<span class="sg-label">#e6e6e6</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #65b5e5;"></span>
		<span class="sg-label">#65b5e5</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ea5050;"></span>
		<span class="sg-label">#ea5050</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #834eea;"></span>
		<span class="sg-label">#834eea</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #59b742;"></span>
		<span class="sg-label">#59b742</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ed569a;"></span>
		<span class="sg-label">#ed569a</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #326bce;"></span>
		<span class="sg-label">#326bce</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f27b2c;"></span>
		<span class="sg-label">#f27b2c</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffce00;"></span>
		<span class="sg-label">#ffce00</span>
	</li>
</ul>